.image-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.image-content {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    margin-left:100px
}

.image {
    width: 500px; 
    height: 700px; 
    object-fit: cover; 
}

.image-details {
    margin-left: 20px;
    color: white;
    max-width: 50%;
    overflow-y: auto; 
}

.image-title {
    font-size: 32px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    font-weight: bold; 
}

.image-description {
    font-size: 18px;
    font-weight: lighter; 
}

.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    
}

.navigation a {
    font-size: 2rem;
    color: lightgray;
    margin-left: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: gray;
}

.image-index {
    font-size: 24px; 
    color: white;
    margin-left: 20px;
    
}