.image-page-container {
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.image-content {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    margin-left: 100px; 
    margin-bottom: 20px; 
}

.image {
    width: 500px; 
    height: 700px; 
    object-fit: cover; 
}

.image-details {
    margin-left: 20px;
    color: white;
    max-width: 50%;
    overflow-y: auto; 
}

.image-title {
    font-size: 32px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    font-weight: bold; 
}

.image-description {
    font-size: 18px;
    font-weight: lighter; 
}

.navigation {
    color: white;
    display: flex;
    align-items: center;
}

.navigation a {
    font-size: 2rem;
    color: lightgray;
    margin-left: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: gray;
}

.image-index {
    font-size: 24px;
    color: white;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .image-content {
        flex-direction: row;
        margin-left: 0; 
    }

    .image {
        width: 300px; 
        height: 450px; 
        object-fit: cover;
        margin-bottom: 20px; 
        margin-top: 40px;
    }

    .image-details {
        margin-left: 0; 
        max-width: none; 
        text-align: left; 
    }

    .navigation {
        justify-content: flex-start; 
        margin-bottom: 0; 
    }

    .navigation a {
        font-size: 2rem; 
        margin-left: 20px;
    }

    .image-index {
        font-size: 24px; 
        margin-left: 20px; 
    }

    .image-title {
        font-size: 24px; 
        margin-bottom: 10px; 
    }

    .image-description {
        font-size: 16px; 
    }
}
