@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  cursor: none !important; 

}
@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */
@media only screen and (orientation: landscape) {
  html, body {
      width: 100vh;
      height: 100vw;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      transform-origin: top left;
      transform: rotate(90deg);
  }
}
